/* resources/scss/app.scss */
body {
    //background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: purple;
    background-color: green !important;
}

h1 {
    color: #007bff;
    text-align: center;
}
